/* Set comon font */
body {
    font-family: 'Lato', sans-serif;
    background: url(../assets/pattern.png);
    background-size: 450px;
}

/* reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style for cards */
.card {
    border: 2px solid black;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.3);
}

.card h1 {
    margin-bottom: 10px;
    font-weight: 800; /*bolder*/
}

.card p {
    margin-bottom: 5px;
    font-size: 20px;
}

.card-economy h1{
    color: salmon;
}

.card-luxury h1{
    color: magenta;
}

.card-family h1{
    color: khaki;
}

a{
    display: inline-block;
    text-decoration: none; /*no underline*/
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
}

.card-economy a{
    background-color: salmon;
}

.card-economy a:hover{
    background-color: rgb(219, 113, 101);
}

.card-economy a:active{
    background-color: rgb(141, 66, 57);
}

.card-luxury a{
    background-color: magenta;
}

.card-luxury a:hover{
    background-color: rgb(196, 101, 196);
}

.card-luxury a:active{
    background-color: rgb(102, 44, 102);
}

.card-family a{
    background-color: khaki;
}

.card-family a:hover{
    background-color: rgb(197, 187, 97);
}

.card-family a:active{
    background-color: rgb(141, 134, 68);
}

.card-economy{
    background: #fff url(../assets/economic-car.png) no-repeat right;
    background-size: 200px;
}

.card-luxury{
    background: #fff url(../assets/luxury-car.png) no-repeat right;
    background-size: 200px;
}

.card-family{
    background: #fff url(../assets/family-car.png) no-repeat right;
    background-size: 200px;
}

i{
    margin-right: 5px;
}